[submodule "hbt-ocaml"]
	path = hbt-ocaml
	url = https://github.com/henrytill/hbt-ocaml.git
[submodule "hbt-rs"]
	path = hbt-rs
	url = https://github.com/henrytill/hbt-rs.git
[submodule "hbt-hs"]
	path = hbt-hs
	url = https://github.com/henrytill/hbt-hs.git
[submodule "hbt-go"]
	path = hbt-go
	url = https://github.com/henrytill/hbt-go.git
